<div class="card">
  <div class="infos">
    <div class="name">
      <strong>NAME : </strong>{{ displayData.DETAILS.item.NAME }}
    </div>
    <p class="text"><strong>ID : </strong>{{ displayData.DETAILS.item.ID }}</p>
    <p class="text">
      <strong>AGE : </strong>{{ displayData.DETAILS.item.AGE }}
    </p>
    <ul class="stats">
      <li>
        <h3>IV</h3>
        <h4>Batch</h4>
      </li>
      <li>
        <h3>FY22</h3>
        <h4>Year</h4>
      </li>
      <li>
        <h3>INTERN</h3>
        <h4>Designation</h4>
      </li>
    </ul>
  </div>
</div>
